.container{
    height: 100dvh;
}

.header{
    background: linear-gradient(#0E1E34 ,#0f0f0f00);
    backdrop-filter: blur(30px);
    width: 100%;
    min-height: 100dvh;
    padding-top: 220px;
    padding-bottom: 40px;
}

.movieDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
    width: 100%;
    & img{
        width: 250px;
        border-radius: 15px;
        box-shadow: 0 0 15px #00000050;
    }
}

.info{
    width: 100%;
}

.fastInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    & svg{
        color: var(--primary);
    }
}

.overview{
    margin-top: 50px;
    padding: 0 30px;
    margin-bottom: 50px;
    text-align: justify;
    & h3{
        margin-bottom: 30px;
        font-size: 1.6em;
        text-align: center;
        position: relative;
    }
}

.overview h3::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary);
    border-radius: 10px;
}

.lastEp h3{
    padding-left: 20px;
    margin-bottom: 20px;
}


.lastEPContainer{
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    & div{
        display: flex;
        margin-top: 20px;
        gap: 20px;
        margin-bottom: 30px;
    }
}

.view{
    width: 65%;
    margin-bottom: 15px;
}

.adictionalInfo{
    padding: 30px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;   
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #0E1E34;
    width: 45%;
    padding: 20px 5px;
    & svg{
        font-size: 1.8em;
        color: var(--primary);
    }
}