.container{
    padding: 130px  0px;
    background: linear-gradient(#0E1E34 ,#0f0f0f);
    min-height: 100vh;
    background-attachment: fixed;
}

.sections h2{
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.movies {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 0 20px;
    scroll-behavior: smooth;
    padding-bottom: 20px;
 
}
.movies > a:last-child{
    margin-right: 80px;
}

.movies::-webkit-scrollbar {
    height: 8px;
}

.movies > * {
    flex-shrink: 0;          /* ⬅ impede que os cards sejam esmagados */
}