.container{
    margin-top: 135px;
}
.collection{
    width: 100vw;

}
.image{
    width: 80vw;
    margin: 1px auto;
}
.image img{
    width: 100%;
    border-radius: 5px;
    margin: 1px auto;
}
.info{
    padding: .5em 1em;
}
.info h2{
    padding: .5em 0;
    text-align: center;
}
.info > p{
    font-weight: bold;
    padding: .5em 0;
}
.info svg{
    color: #c51010;
}
.info span > p{
    padding: .5em 1em;
    box-sizing: border-box;
    margin-bottom: 1.5em;
}

.movie_container{
    margin: 1px auto;
    display: flex;
    overflow-x: auto;
}
.back{
    background-color: #555;
    color: #222;
    padding: .5em 1.5em;
    margin: 1em;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    gap: 5px;
}
@media screen and (min-width: 500px){
    .container{
        margin: 0;
    }
}
@media screen and (min-width: 700px) {
    .collect{
        display: flex;
        max-width: 900px;
        margin: .5em auto;
        gap: 30px;
        background-color: #555;
        padding: .5em;
        border-radius: 5px;
    }
    .image img{
        height: 100%;
        min-width: 200px;
    }
    .info {
        box-sizing: border-box;
        width: 60%;
    }
    .movie_container{
        box-sizing: border-box;

    }
}