.collection{
    margin-top: 20px;
    
}
.collection div{
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collection div h2{
    font-size: 1em;
}

.button{
    background-color: #fefefe10;
    padding: 10px 15px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid #555;
    color: #fefefe;
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: flex-end;
    transition: all .3s ease;
}

.button:hover{
    border-color: var(--primary);
    outline: 2px solid var(--primary);
    outline-offset: 2px;
    background-color: #819fe150;
    transform: scale(1.02);
}