.movie{
    width: 160px;
    margin-top: 10px;
    display: block;
    border-radius: 10px;
    transition: all .3s ease;
}

.movie img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.movie:hover{
    outline: 2px solid var(--primary);
    outline-offset: 4px;
    border: 1px solid var(--primary);
}