*{
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #191919;
  color: #fefefe;
  overflow-x: hidden;
  margin-top: 0;
}

a{
  text-decoration: none;
  color: #da1313;
  transition: .5s;
}
a:hover{
  color: #a70909;
}


::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb{
  border-radius: 3px;
  background-color: #292929;
}
::-webkit-scrollbar-track{
  background-color: #242424;
}
.destaquecard{
  margin-top: 120px;
  min-height: 240px;
  & .infomovie{
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  & .imagemovie{
    display: none;
  }
}
.destaquecard div h3{
  margin: 1.1em 0;
  text-shadow: 2px 2px #191919;
}
.destaquecard div p{
  width: 200px;
  font-size: 10px;
  text-shadow: 1px 1px #191919;
  margin-bottom: 20px;
}
.destaquecard div a {
  background-color: #292929;
  padding: .3em 1em;
  width: 100px;
  text-align: center;
  color: #fefefe;
  border-radius: 5px;
  font-weight: bold;
  transition: all .3s ease;
}
.destaquecard div a:hover{
  color: #da1313;
  background-color: #191919;
}

@media screen and (min-width: 500px) {
  .destaquecard{
    margin: 0;
    min-height: 300px;
    & div{
      & p{
        font-size: 15px;
        width: 400px;
      }
      & h3{
        font-size: 1.5em;
      }
    }
    .imagemovie{
      display: none;
    }
  }

}
@media screen and (min-width: 800px) {
  .destaquecard{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    & .infomovie{
      justify-content: space-around;
      background-image: linear-gradient(90deg, #191919, #00000000);
      height: 400px;
    }
    .imagemovie{
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1em;
      & img{
      height: 300px;
      }
    }
  }
}
.error{
  padding: 1em;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
@media screen and (min-width: 1000px) {
  .destaquecard{
    padding: 0;
    & .infomovie{
      padding-left: 2.5em;
      width: 50%;
      background-image: linear-gradient(90deg, #191919 35%, #00000000 100% );
    }
    & .imagemovie{
      width: 50%;
      margin: 0;
      & img{
        box-shadow: 1px 2px 5px 2px #00000063;
        border-radius: 10px;
      }
    }
  }
}